<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Barber shop</title>
  </head>
  <body>
    <header class="main_header">
     <div class="container">
      <nav class="main_navigation" id="top_menu">
        <ul>
          <li class="information"> <a href="#">Информация</a></li>
          <li class="news"> <a href="#">Новости</a></li>
          <li class="price"> <a href="#">Прайс-лист</a></li>
          <li class="shop"> <a href="#">Магазин</a></li>
          <li class="contacts"> <a href="#">Контакты</a></li>
        </ul>
      </nav>
    </div>
        <div class="user_block">
          <a class="login" href="#">Вход</a>
        </div>
    </header>
        <main class="container">
          <div class="index_logo">
            <img src="..\img\index_logo.png" width="386" height="204" alt="Барбершоп Бородинский">
          </div>
          <section class="features"> <!--можно с помощь ul вместо section-->
            <div class="features_item">
              <b class="features_name">Быстро</b>
              <p>Мы делаем свою работубыстро!
                Два часа пролетят незаметно и
                вы-счастивый обладатель стильной стрижки</p>
            </div>
            <div class="features_item">
              <b class="features_name">Круто</b>
              <p>Забудьте, как вы стриглись раньше.
              Мы сделаем из вас звезду футбола или кино! Во всяком случае внешне.</p>
            </div>
            <div class="features_item">
              <b class="features_name">Дорого</b>
              <p>Наши мастера-профессионалы
                своего дела и не могут стоить дёшево.
              К тому же, разве цена не даёт определённый статус?</p>
            </div>
          </section>
          <div class="inex_content">
            <div class="index_content_left">
              <h2 class="index_content_title">Новости</h2>
              <ul class="news_preview">
                <li>
                  <p>Нам наконец завезли Ягермайстер!
                    Теперь вы сможете пропустить стаканчик во время стрижки</p>
                    <time datetime="2016_01_11">11 января</time>
                </li>
                <li>
                  <p>В нашей команде пополнение, Борис "Бритва" Стригунец,
                  обладатель множества титулов и наград пополнил, наши стройные ряды</p>
                    <time datetime="2016_01_18">18 января</time>
                </li>
              </ul>
              <a class="btn" href="#">Все новости</a>
              </div>
            </div>
            <div class="index_content_right">
              <h2 class="index_content_title">Фотогалерея</h2>
              <div class="gallery">
                <figure class="gallery_content">
                 <img src="img\photo1.jpeg" width="286" height="164" alt="">
                </figure>
                <button class="btn gallery_prev">Назад</button>
                <button class="btn gallery_next">Вперёд</button>
              </div>
              <div class="inex_content">
                <div class="index_content_left">
                  <h2 class="index_content_title">Контактная информация</h2>
                   <p>Барбершоп "Бородинский"<br>
                      Адрес: г. Санкт-Петербург, Б. Конюшенная, д. 19/8<br>
                   </p>
                   <p>
                     Время работы:<br>
                     пн - пт: с 10.00 до 22.00<br>
                     сб - вс: с 10.00 до 19.00
                   </p>
                   <a class="btn" href="#">Как проехать</a>
                   <a class="btn" href="#">Обратная связь</a>
                </div>
                <div class="index_content_right">
                  <h2 class="index_content_title">Записаться</h2>
                    <p>Укажите желаему дату и время и мы с вами свяжемся для
                    подтверждения брони</p>
                    <form class="appointment_form" action="index.html" method="post">
                     <input type="text" name="date" value="" placeholder="Дата">
                     <input type="text" name="time" value="" placeholder="Время">
                     <input type="text" name="name" value="" placeholder="Ваше имя">
                     <input type="tel"  name="phone" value="" placeholder="Телефон"> <!--класс TEL
                       чтобы было номер телефона заполнять удобней с мобильных-->
                       <button class="btn" type="button">Отправить</button>
                    </form>
                </div>
              </div>
            </div>
        </main>
    <footer class="main_footer">
    <div class="container">
      <div class="adress">
         Барбершоп "Бородинский"<br>
         Адрес: г.Санкт-Петербург, ул.Б.Конюшенная,д.19/8<br>
         <a href="#">Как нас найти?</a><br>
         Телефон: +7 (495) 666-07-66
      </div>
      <div class="social">
        <div class="friend"> Давайте дружить!</div>
          <a class="social_btn social_btn_vk" href="#">Вконтакте</a>
          <a class="social_btn social_btn_fb" href="#">Фейсбук</a>
          <a class="social_btn social_btn_inst" href="#">Инстаграм</a>
      </div>
      <div class="made_by">
        <div> Разработано:</div>
          <a class="btn" href="#">HTML Academy</a>
        </div>
      </div>
    </footer>
  </body>
</html>

body {
 width: 960px;
}
header {
  background-color: black;
  width: inherit;
  height:72px;
}
