@font-face {
  font-family: "PTSans Narrow";
  src: local("PTSans Narrow"),
       url("fonts/PT_Sans-Narrow-Web-Regular.ttf");
  font-weight: 400;
}
html, body {
 min-width: 1122px;
 min-height: 1750px;
 /*margin: 0;
 padding: 0;*/
}
body {
  /*font-size: 14px;
  line-height: 24px;*/
  font-family: "PTSans Narrow", "Arial", Verdana, sans-serif;
  background: #4b4a4a url("./img/tint.png") no-repeat center top;
  color: white;
}
/*HEADER*/
.main_header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around ;
  width: 100%;
  height: 72px;
  background-color: black;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.main_navigation {
  display: inline-flex;
  align-items: center;
}
.navigation {
  padding-left: 10px;
  width: 790px;
}
.navigation__item {
  display: inline-flex;
  padding: 0 19px;
  text-transform: uppercase;
  font-weight: bold;
  height: 72px;
  align-items: center;
}
.navigation__item:hover {
  background-color: #242424;
}
.user_block {
  display: inline-flex;
  margin-left: auto;
  height: 72px;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.user_block_log {
  margin-right: 10px;
}
.user_block:hover {
  background-color: #242424;
}
a {
  color: white;
  text-decoration: none;
}
/*LOGO*/
.index_logo {
width: 460px;
height: 202px;
margin-left: 302px;
margin-top: 60px;
}
/*FEATURES*/
.features {
  display: inline-flex;
  margin-bottom: 80px;
}
.features_item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  padding: 0 10px;
}
.features_name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}
.features_pic {
  margin: 20px 135px;
}
.features_item p {
  width: 300px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
/*INDEX-CONTENT*/
.index_content {
  display: flex;
  padding: 50px 80px;
  width: 0 auto;
  margin-bottom: 35px;
  background: url("./img/content.jpg");
  margin-left: 10px;
  margin-right: 10px;
}
.index_content_bottom {
  display: flex;
  flex-direction: row;
  padding: 50px 80px;
  width: 0 auto;
  background: url("./img/content.jpg");
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}
.index_content_left {
  position: relative;
  width: 380px;
  color: black;
  height: 330px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-right: 100px;
}
.index_content_right  {
  display: inline-flex;
  width: 300px;
  color: black;
  min-height: 330px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "PTSans Narrow";
  src: local("PTSans Narrow"),
       url("../fonts/PT_Sans-Narrow-Web-Regular.ttf");
}

.index_content_title {
width: 300px;
height: 31.2px;
text-transform: uppercase;
font-weight: bold;
font-family: "PTSans Narrow";
src: local("PTSans Narrow"),
     url("../fonts/PT_Sans-Narrow-Web-Regular.ttf");
}
.index_content_right_top {
  width: 300px;
  position: relative;
}
.gallery_content {
  margin: 0 auto;
  margin-bottom: 36px;
}
.gallery {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  width: 300px;
}
.index_content_bottom {
  height: 330px;
  position: relative;
}
.index_content_right_bot {
position: relative;
width: 300px;
height: 330px;
}
.index_content_right_form {
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;*/
  height: 105px;
}
form {
  height: 185px;

}
input {
  outline: #663d15;
  height: 39px;
  max-width: 140px;
  border: 2px solid black;
}
input:nth-child(odd) {
  margin-right: 10px;
}

input[type="text"], input[type="tel"] {
font-family: "PTSans Narrow";
src: local("PTSans Narrow"),
     url("../fonts/PT_Sans-Narrow-Web-Regular.ttf");
padding-left: 10px;
width: 126px;
border: 2px solid black;
margin-bottom: 16px;
text-align: left;
text-transform: uppercase;
font-weight: bold;
}
input:focus {
border: 2px solid #6c441e;
background-color: #ecd69a;
}
/*BUTTONS*/
.btn {
  font-size: 13px;
  background-color: black;
  border: none;
  color: white;
  padding: 13px 35px;
  margin-right: 16px;
  text-transform: uppercase;
  font-family: "PTSans Narrow";
}
.btn_content_left .btn{
  position: relative;
  top: 60px;
  font-size: 13px;
  padding: 13px 35px;
}
.btn:hover {
  background-color: #663d15;
}
.btn:last-child{
  margin-right: 0;
}
button[type="button"]{
  width: 300px;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
}
button {
  font-weight: bold;
  text-transform: uppercase;
}
.news_preview time {
  text-transform: none;
  font-weight: normal;
  color: #aaa9a8;
}
p {
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
}
a[type="button"] {
  min-width: 0;
  background-color: black;
  padding: 13px 35px;
  position: absolute;
  /*top: 30px;*/
  bottom: 0;
  /*text-transform: uppercase;*/
}

/*FOOTER*/
.main_footer {
  height: 190px;
  margin-top: 64px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  background: #242424 url("./img/footer.png");
}
.footer {
  display: inline-flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 26px;
  font-weight: bold;
}
.footer_adress {
  width: 310px;
  margin-left: 10px;
  margin-right: 90px;
  text-transform: uppercase;
}
.footer_adress a{
  text-decoration: underline;
  text-transform: uppercase;
}
.footer_social {
  width: 150px;
  height: 76px;
  margin-right: 260px;
}

.footer_social_friend_text {
  height: 14px;
  margin: 0 auto;
  margin-bottom: 21px;
  text-transform: uppercase;
  text-align: center;

}
.social_btn {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 43px;
  width: 43px;
}
.social_btn_vk, .social_btn_fb {
margin-right: 7px;
}
.social_btn:hover {
 background-color: grey;
 fill: black;
}
.footer_production {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 78px;
  justify-content: space-between;
}
.production_btn {
  width: 140px;
  text-align: center;
  font-size: 12px;
  background-color: black;
  padding: 10px 0;
  text-transform: uppercase;
}
.production_btn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}
.production_text {
  text-transform: uppercase;
  text-align: center;
}
.index_vibrate{
    animation: vbr 0.5s infinite alternate;
}
/*width: 460px;
height: 202px;
margin-left: 302px;
margin-top: 60px;*/
/*@keyframes vbr {
    from {
        margin-left:0px;
        animation-timing-function: cubic-bezier(0.25, 0.01, 0.55, 0.16);
    }
    10% {
        margin-right:2px;
        animation-timing-function: cubic-bezier(0.52, 0.44, 0.47, 0.44);
    }
    20% {
        margin-right:-2px;
        animation-timing-function: cubic-bezier(0.53, 0.56, 0.48, 0.56);
    }
    30% {
        margin-left:0px;
        animation-timing-function: cubic-bezier(0.45, 0.84, 0.75, 0.99);
    }
}*/
