@font-face {
  font-family: "PTSans Narrow";
  src: local("PTSans Narrow"),
       url("fonts/PT_Sans-Narrow-Web-Regular.ttf");
  font-weight: 300;
}
html, body {
 min-width: 1122px;
 min-height: 1750px;
 margin: 0;
 padding: 0;
}
body {
  font-family: "PTSans Narrow", Verdana, sans-serif;
  background: #4b4a4a url("../img/tint.png") no-repeat 40% 3px;
  color: white;
}
/*font {
  font-family: PTSans Narrow;
}*/
.main_header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around ;
  width: 100%;
  height: 72px;
  background-color: black;
}
.container {
  width: 960px;
  margin: 0 auto;
}
/*.navigation {
  width: 800px;
}*/
.main_navigation {
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*padding-left: 30px;*/
}
.navigation {
  padding-left: 30px;
  width: 780px;
  margin-right: 71px;
}
.navigation__item {
  padding: 0 23px;
  text-transform: uppercase;
  font-weight: bold;
  height: 72px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.navigation__item:hover {
  background-color: #242424;
  padding: 0 23px;
}

.user_block {
  display: inline-flex;
  height: 72px;
  width: 107px;
  justify-content: center;
  align-items: center;
}
.user_block:hover {
  background-color: #242424;

}
.login {
  text-transform: uppercase;
  font-weight: bold;
  /*margin-left: 10px;*/
}
a {
  color: white;
  text-decoration: none;
}
.index_logo {
width: 460px;
height: 202px;
margin-left: 302px;
margin-top: 60px;
}
.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  /*height: 209px;*/
  padding: 0 10px;
  margin-bottom: 80px;
}
.features_item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  padding: 0 10px;
}
.features_name {
  /*height: 31px;*/
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}
.log {
  margin-right: 10px;
}
.pic {
  margin: 20px 135px;
}
.features_item p {
  width: 300px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.index_content {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
  width: 0 auto;
  background-color: orange;
  margin-bottom: 35px;
  background: url("../img/content.jpg");
  margin-left: 10px;
  margin-right: 10px;
}


.index_content_bottom {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
  width: 0 auto;
  background: url("../img/content.jpg");
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.index_content_left {
  width: 380px;
  color: black;
  /*background-color: red;*/
  min-height: 330px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 100px;
}
.index_content_right {
  display: inline-flex;
  flex-direction: row;
  width: 300px;
  color: black;
  /*background-color: yellow;*/
  min-height: 330px;
  margin-right: 90px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "PTSans Narrow";
  src: local("PTSans Narrow"),
       url("../fonts/PT_Sans-Narrow-Web-Regular.ttf");
}
.index_content_title {
width: 380px;
height: 31.2px;
text-transform: uppercase;
font-weight: bold;
text-transform: uppercase;
font-weight: bold;
font-family: "PTSans Narrow";
src: local("PTSans Narrow"),
     url("../fonts/PT_Sans-Narrow-Web-Regular.ttf");
}
.btn {
  font-size: 13px;
  /*width: 140px;
  height: 44px;*/
  background-color: black;
  border: none;
  color: white;
  padding: 13px 35px;
  margin-right: 16px;
  text-transform: uppercase;
  font-family: "PTSans Narrow";
}
.btn:hover {
  background-color: #663d15;
}
.btn:last-child{
  margin-right: 0;
}
button[type="button"]{
  width: 300px;
  position: relative;
  top: 25px;
  text-transform: uppercase;
}
button {
  font-weight: bold;
  text-transform: uppercase;
}
.news_preview time {
  text-transform: none;
  font-weight: normal;
  color: #aaa9a8;
}
p {
  line-height: 23px;
  font-size: 13px;
  text-transform: inherit ;

}
a[type="button"]{
  border: none;
  background-color: black;
  padding: 13px 35px;
  position: relative;
  top: 35px;
  text-transform: uppercase;

}
.gallery_content {
  /*width: 300px;*/
  margin: 0 auto;
  margin-bottom: 36px;
}
.gallery {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  width: 300px;
}
.index_content_bottom a {
  position: relative;
  top: 55px;

}
.together2 {
width: 300px;
margin-right: 90px;
}
form {
  height: 185px;
  width: 300px;

}
input {
  outline: #663d15;
  height: 39px;
  max-width: 140px;
  margin-bottom: 19px;
  border: 2px solid black;
}
input:nth-child(odd) {
  margin-right: 8px;
}

input[type="text"], input[type="tel"] {
font-family: "PTSans Narrow";
src: local("PTSans Narrow"),
url("../fonts/PT_Sans-Narrow-Web-Regular.ttf");
padding-left: 10px;
width: 126px;
border: 2px solid black;
margin-bottom: 16px;
text-align: left;
text-transform: uppercase;
font-weight: bold;
}
input:focus {
border: 2px solid #6c441e;
}
.main_footer {
  height: 190px;
  margin-top: 64px;
  display: inline-flex;
  /*justify-content: space-between;*/
  align-items: center;
  /*flex-direction: row;*/
  width: 100%;
  background: #242424 url("../img/footer.png");
}
.foot_bottom {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.adress {
  width: 310px;
  margin-left: 10px;
  margin-right: 90px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 26px;
  font-weight: bold;
}
.adress a{
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 61px;
}
.social {
  width: 150px;
  height: 76px;
  margin-right: 260px;
  font-size: 12px;
  line-height: 26px;
  font-weight: bold;
}

.friend {
  /*display: flex;
  flex-direction: row;*/
  height: 14px;
  /*width: 109px;*/
  margin: 0 auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
.social_btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around ;
  align-items: center;
  background-color: black;
  /*margin-right: 4px;*/
  /*height: 23px;
  width: 25px;*/
}
.social_btn_vk {
  height: 41px;
  width: 43px;
  padding-top: 2px;
  position: relative;
  bottom: 1px;
  margin-right: 6px;
}
.social_btn_fb {
  height: 43px;
  width: 43px;
  margin-right: 6px;
}
.social_btn_inst {
  height: 43px;
  width: 43px;
}
.social_btn:hover {
 background-color: grey;

}
.made_by {
  display: flex;
  height: 76px;
  flex-direction: column;
  width: 140px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 26px;
  font-weight: bold;
}
.production_btn {
  width: 140px;
  text-align: center;
  font-size: 12px;
  background-color: black;
  padding: 10px 0;
  text-transform: uppercase;
}
.production_btn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}
.production {
  text-transform: uppercase;
  height: 14px;
  width: 109px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}
